<!DOCTYPE html>
<html>
  <head>
    <title>RailsSimpleAirbnb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
      <h3>Simple Airbnb</h3>
      <div class="buttons">
        <input class="search" name="query" type="search" placeholder="Search" aria-label="Search" value="">
        <button class="button blue" type="submit">Search</button>
        <a class="button green" href="/flats/new">Add Flat</a>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
